@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');

@keyframes appear {
    from {
        opacity: 0;
        translate: 0 -0% 0;
        clip-path: inset(100% 100% 0% 0%);
    }
    to {
        opacity: 1;
        clip-path: inset(0% 0% 0% 0%);
    }
}

@keyframes adjust-image {
    from {
        zoom: 1;
        translate: -77% -100% 0;
    }
    to {
        translate: -50% -60% 0;
        scale: 0;
        opacity: 0.10;
        rotate: -356deg;
    }
}

header h1 {
    padding-top: min(20rem, 60vw);
}

@keyframes appear {
    from {
        opacity: 0;
        translate: 0 -50% 0;
        clip-path: inset(100% 100% 0% 0%);
    }
    to {
        opacity: 0;
        clip-path: inset(0% 0% 0% 0%);
    }
}

@keyframes reveal {
	from {
		opacity: 0;
		clip-path: inset(45% 20% 45% 20%);
	}
	to {
		opacity: 1;
		clip-path: inset(0% 0% 0% 0%);
	}
}

.revealing-image {
	/* Create View Timeline */
	view-timeline-name: --revealing-image;
	view-timeline-axis: block;

	/* Attach animation, linked to the  View Timeline */
	animation: linear reveal both;
	animation-timeline: --revealing-image;

	/* Tweak range when effect should run*/
	animation-range: entry 25% cover 50%;

    margin-left: 500px ;
}

header {
    view-timeline: --header-vtl;
}

header img {
    position: fixed;
    top: 50%;
    left: 50%;
    animation: adjust-image linear both;
    animation-timeline: --header-vtl;
    animation-range: exit;
    z-index: -1;
}
header h1 {
    padding-top: min(20rem, 60vw);
}

html::-webkit-scrollbar {
    display: none;
}
  
*{
    box-sizing: border-box;
    color: #dddeac;
}

.logo{
    margin: 5em;
}

.bienvenidos{
    margin-top: 70px;
}

header{
    display: grid;
    text-align: center;
	place-content: center;
	height: 90vh;
	height: 90dvh;
	margin-bottom: 10vh;
	margin-bottom: 10dvh;
	gap: 2.5vmin;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: #1d1d1d;
    font-family: "Tilt Neon", sans-serif;
    color: wheat;
}

.title{
    color: rgb(255,255,255,0.5) ;
    font-size: 60px;
    padding-top: 2pc;
}


nav{
    list-style: none;
    display:flex;
}

a {
    
    background-color: #1d1d1d;
    color: white;
    padding: 14px 20px;
    font-size: 20px;
    border: 1px solid black;
    flex: auto ;
    text-decoration: none;
    text-align: center;
}

a:hover{
    background-image: url(img/checks.jpg);
    font-weight: bold;
    color: orangered ;
    box-shadow: 0px 0px 0px 0px white inset;  
    /* transition: all 0.35s cubic-bezier(1,1,1,1);   */
}

nav a{
    color: whitesmoke;
    padding: 14px 20px;
    text-decoration: none;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

aside{
    flex:30px;
    padding: 20px;
}

.fotomoto{
    width: 90%;
}

.titulo{
    text-align: center;
}
section{
    flex: 70%;
    padding: 20px;
}
.foto{
    width: 500px;
    float: right;
}
footer{
    padding:20px; 
    text-align: center;
    width: 100%;
    width: 100%;
}

/* @media screen and (max-width: 700px){
    nav, .row{
        flex-direction:column ;
    }
} */

#page-container{
    position: relative;
    min-height: 100vh;
}